<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gabrielhuff.sample.login">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/Login_Sample"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Activity${Luminance}.${Color}">

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LoggedInActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.SignUpActivity"
            android:parentActivityName=".activity.LoginActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
